<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Image">
    <img src="public/images/beer.png" alt = "Beer Main Image">
    </div>

    <div class="LinksHomePage">
        <a href="/views/beers.hbs"> Chack The Beer!</a>
        <a href="/views/random-beer.hbs"> Chack a Random Beer!</a>
    </div> 

</body>
</html>